<!DOCTYPE html>
<html lang="pt-br">
  <head>
  
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Restaurante</title>

   
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Restaurante</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
      </button>

         <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                  <li class="nav-item active">
                    <a class="nav-link" href="/produtos">Produtos <span class="sr-only">(current)</span></a>
                  </li>
                    
                  <li class="nav-item active">
                    <a class="nav-link" href="/comentarios">Comentarios <span class="sr-only">(current)</span></a>
                  </li>
        </ul>
       
       
      </div>
    </nav>

    <h3>Faça seus Pedidos Aqui</h3>

    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Restaurante</a></li>
          <li class="breadcrumb-item"><a href="/produtos">Produtos</a></li>
          <li class="breadcrumb-item"><a href="/pedidos">Pedidos</a></li>
        </ol>
      </nav>
    </div>
    <div class="container">

      <form action="salvarPedidos" method="post">
        <div class="form-group">
          <label for="pedidos">Pedido por:</label>
         
            <input type="text" class="form-control" name="nome_da_pessoa" id="nome_da_pessoa"  placeholder="Informe seu Nome">

            <label for="pedidos">Sua Messa É:</label>
         
            <input type="number" class="form-control" name="messadojs" id="messa"  placeholder="Informe o numero de sua Messa">
             
          <label for="data">Seleção de Pedidos:</label><br>
          <select name="id_pedidos" id="id_pedidos" multiple>
            <% listProdutos.forEach( element => {%>
            <option id="valor_do_produto" value="<%= element.id%>"> <%= element.valor_do_produto%></option><!--Faz essa mesma coisa para mostra no index  mas eu tenho q relacionar categoria para lancamentos-->
            <option>-------------</option>
            <% });%>
          </select>
      
        </div>
        <label for="pedidos">Preferencia:</label>
        <div class="form-group">
            <textarea id="preferencias" name="preferencias"rows="5" cols="50"  placeholder=" Descreva Algums Complementos ou preferencias que voçe queira no Pedido."></textarea><br>
        </div>
        <button type="submit" class="btn btn-primary" onclick="abrir_modal()">Salvar Pedido</button>
        <button type="submit" class="btn btn-primary" onclick="abrir_alert()">Abrir Alerte</button>
      </form>
    </div>

    <script>
      // Assim pega o valor de um input
      var input = document.getElementById("nome_da_pessoa").value;
      var texto = input.value;
      console.log(texto);
      function abrir_alert(texto){
        alert(texto);
      }
       
        
      function abrir_modal (){
        $('#modal_Pedido').modal('show')
       /* $('#modal_Pedido').modal({
          nome: nome_da_pessoa ,
          })esse modal abre com obejetos posso color os dado por obejeto*/
          setInterval(abrir_modal , 9000);
        window.location.href = "http://localhost:8080/";
        let valor_total = document.getElementById("valor_do_produto");
        for(let i = 0; listProdutos.length; i++)
        valor_total = valor_total + valor_total;
      //   let nome_pessoa = document.getElementsByName("nome_da_pessoa");
        // alert("Pedido por : " + nome_pessoa);
      }


      function foifechado_o_modal(){
        let fechou = document.getElementsByName("modal_de_pedidos");
        fechou = 1;
        if(fechou == 1)
        window.location.href = "http://localhost:8080/";
       // alert(input.value);
        
        }
    </script>
    <div class="modal fade" id="modal_Pedido" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ALERTA DE MESSA <%=data_vetor[1]%></h5><br><br>
      </div>
      <p>Pedido dá Messa <%=data_vetor[1]%> seu pedido está pronto Vamos entregalo</p><br>
      <p>Pedido Por : <%=data_vetor[0]%></p>
      <p>Messa : <%=data_vetor[1]%></p>
      <p>Preferencias : <%=data_vetor[2]%></p>
    <!-- <% listProdutos.forEach( element => {%>
      <p>Valor Total De :<%= element.valor_do_produto = element.valor_do_produto + element.valor_do_produto%></p>
      <% });%>--> 
        <hr>
      <button type="submit" class="btn btn-success" onclick="foifechado_o_modal()">Cocluir</button>
    </div>
   
  </div>
</div>

    
    <style>
       body{
        background-color: aqua;
      }
      h3{
        text-align: center;
      }  
    </style>
  
  
    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>